<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>useredit</title>
	</head>

	<body>
		<form action="{{ url_for('useredit') }}" method="post">
			<table>
				<tbody>
				<tr>
				<td>ID：</td>
				<td><input type="text" placeholder="微信提供" name="user_id" /></td>
				</tr>
				<tr>
				<td>项目组：</td>
				<td><input type="text" placeholder="euleros维护" name="user_project" /></td>
				</tr>
				<tr>
				<td></td>
				<td><input type="submit" value="修改"/></td>
				</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>
